@use 'variables';
@use 'components';

body {
  font-family: Arial, sans-serif;
  background: variables.$light-gray;
  margin: 0;
  padding: 0;
}

.ticket-detail {
  border: 5px solid blue !important;
}
